{% extends 'base.html.twig' %}

{% block title %}Hello ressource!{% endblock %}
{% block stylesheets %} {{parent()}} {% endblock %}
{% block javascripts %} {{parent()}} {% endblock %}
{% block navabar %}
{{parent()}}
{% endblock %}
{% block body %}
<div class="ms-4 me-4">
{{ form(form) }}
</div>

{% endblock %}